header{
    text-align: center;
}
main{
    width: 90%;
    height: 600px;
    margin: 0 auto;
}
#box-top{
    width: 100%;
    background-color: #EEEEEE;
    height: 60px;
    margin-bottom: 2px;
    text-align: center;
}
#box-bottom{
    width: 100%;
    height: 76px;
}
article{
    float: left;
    height: 76px;
    text-align: center;
}
#box-left{
    width: 40%;
    background-color: #7EE5DA;
    
}
#box-middle{
    width: 20%;
}
#box-right{
    width: 40%;
    background-color: #62B3AA;
}
#item{
    width: auto;
    background-color: #70CBC2;
    margin: 0 2px;
    height: 76px;
}
#box-left p{
    font-size: 15px;
    margin: 0;
    padding: 10px;
}
#box-right p{
    font-size: 12px;
    margin: 0;
    padding: 2px;
}
#item p{
    font-size: 12px;
    margin: 0;
    padding: 10px;
}